*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:7px;
    min-height:100vh;
    gap:7px;
}
.content1, .content2{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    flex:1;
     gap:7px;
}
.content1>div, .content2>div{
    min-height:220px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
    font-weight:600;
    font-family:sans-serif;
    background:var(--color);
    color:#fff;
}
.item1, .item2,  .item5, .item6{
       flex:1;
}
.item3 ,.item4{
     flex:100%;
}
@media screen and(max-width:992px){
    .container{
        flex-direction:column;
    }
}
@media screen and(max-width:772px){
    .container{
        flex-direction:row;
    }
    .content1, .content2{
        flex-direction:column;
    }
    .item3, .item4{
        flex:1;
        min-heights:350px !important;
    }
}

@media screen and(max-width:600px){
    .container{
        flex-direction:column;
    }
}
  


  

